/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, figure, figcaption {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

b, strong {
  font-weight: normal; }

em, i {
  font-style: normal; }

a, u {
  text-decoration: none; }

input {
  outline: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  clear: both;
  content: '';
  font-size: 0;
  display: block;
  visibility: hidden;
  height: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.searchbox {
  width: 1190px;
  height: 100px;
  margin: 0 auto; }

.p_logo {
  float: left;
  margin-top: 20px; }

.p_logo_1, .p_logo_1_img, .p_logo_2, .p_logo_2_img {
  float: left;
  margin-right: 10px; }

.p_logo_1_img {
  width: 165px;
  height: 66px;
  display: block; }

.p_logo_2_img {
  width: 85px;
  height: 75px;
  display: block; }

img {
  border: 0;
  vertical-align: middle; }

.p_search {
  float: left;
  margin-left: 75px;
  margin-top: 20px;
  width: 588px;
  height: 70px;
  overflow: visible; }

.p_search_top {
  position: relative;
  height: 40px; }

.search_select {
  position: absolute;
  left: 0;
  top: 0;
  width: 78px;
  height: 40px;
  line-height: 36px;
  font-size: 12px;
  background: #f5f5f5 url(../images/pic.png) no-repeat -270px -319px;
  border: 2px solid #f64400;
  border-right: none;
  cursor: pointer; }

.search_select_inner {
  padding-left: 12px; }

.search_options {
  z-index: 10;
  position: absolute;
  top: 36px;
  left: 0;
  width: 77px;
  margin: 0;
  padding-bottom: 6px;
  background: #f5f5f5;
  border: 1px #e8e8e8 solid;
  border-top: 0;
  display: none; }

.search_options1 {
  height: 24px;
  line-height: 24px;
  padding: 3px 0;
  color: #252525;
  cursor: pointer;
  text-align: left; }

.search_options_inner {
  display: block;
  padding-left: 12px; }

.searchtxt {
  color: rbg(136, 136, 136);
  width: 418px;
  height: 20px;
  float: left;
  outline: rbg(0, 153, 0) solid 0px;
  box-sizing: content-box;
  line-height: 20px;
  background: #fff;
  padding: 8px 0 8px 90px;
  font-family: "Microsoft Yahei";
  border: 2px solid #f64400;
  border-left: none;
  border-right: none;
  font-size: 14px; }

.searchbtn {
  width: 80px;
  height: 40px;
  background: #f64400;
  border: none;
  float: left;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-family: 'Hiragino Sans GB',"Microsoft Yahei";
  font-size: 16px; }

.p_search_bottom {
  width: 558px;
  color: #666;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  overflow: hidden; }

.hotworld {
  color: #3c3c3c;
  float: left; }

.keyword {
  padding: 0 15px 0 0;
  color: #3c3c3c;
  font-size: 12px; }

.keyword:hover {
  color: #f60; }

.word_l {
  float: left;
  margin: 21px 25px;
  color: #666; }

.word_l_1 {
  color: #f64400;
  display: inline-block;
  margin-top: 2px; }

.cgtcode {
  float: right;
  margin: 10px 0 0;
  width: 74px;
  text-align: center; }

.cgtcode_img {
  width: 70px;
  height: 70px;
  display: block; }

.cgtcode_tit {
  line-height: 20px;
  font-size: 12px;
  display: block;
  color: #252525;
  text-align: center; }

.bannernav {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #dfdfdf; }

.bannernav_inner {
  width: 1190px;
  margin: 0 auto;
  position: relative; }

.bannernav_left {
  width: 976px;
  height: 40px;
  float: left;
  background: url(../images/pic.png) no-repeat 945px -653px; }

.bannernav_tit1 {
  width: 180px;
  text-align: left;
  text-indent: 2.4em;
  display: list-item;
  cursor: pointer;
  list-style: none;
  position: relative;
  height: 40px;
  float: left;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: #f64400;
  font-family: 'Hiragino Sans GB', "Microsoft Yahei"; }

.nav_icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url(../images/pic.png) no-repeat -37px 0;
  display: block; }

.bannernav_tit2 {
  padding-left: 1px;
  width: 126px;
  position: relative;
  height: 40px;
  float: left;
  text-align: center; }

.bannernav_item1 {
  font-size: 16px;
  color: #3c3c3c;
  height: 37px;
  line-height: 37px;
  display: inline-block;
  font-weight: 400;
  font-family: "Microsoft Yahei"; }

.bannernav_item1:hover {
  color: #f64400;
  border-bottom: 3px solid #f64400; }

.bannernav_hot {
  background: url(http://static.99114.cn/static/portal/imagesv3/t_hot.png) no-repeat;
  position: absolute;
  display: block;
  top: 2px;
  right: 30px;
  width: 20px;
  height: 14px; }

.bannernav_tit3 {
  position: relative;
  height: 40px;
  float: left;
  text-align: center;
  width: 126px; }

.bannernav_tit3 {
  position: relative;
  height: 40px;
  float: left;
  text-align: center;
  width: 126px; }

.bannernav_tit3 {
  position: relative;
  height: 40px;
  float: left;
  text-align: center;
  width: 126px; }

.bannernav_tit4 {
  padding-right: 1px;
  position: relative;
  height: 40px;
  float: left;
  text-align: center;
  width: 126px; }

.bannernav_new {
  background: url(../images/new.png) no-repeat;
  position: absolute;
  display: block;
  top: 2px;
  right: 30px;
  width: 20px;
  height: 14px; }

.bannernav_right {
  float: left;
  width: 180px;
  height: 40px;
  display: block;
  margin-right: 0;
  padding-top: 8px; }

.bannernav_r_tit1 {
  float: left; }

.bannernav_r_item1 {
  text-align: center;
  color: #f64400;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  background: #fff;
  font-size: 14px;
  width: 74px;
  padding: 0;
  border-radius: 3px;
  margin-right: 16px; }

.bannernav_r_item1:hover {
  border-radius: 5px;
  color: #fff;
  text-align: center;
  background: #f64400; }

.crumb {
  width: 1190px;
  margin: 0 auto;
  height: 28px; }

.crumb .now-adress {
  float: left;
  font-weight: 600;
  line-height: 28px; }

.crumb .cat, .crumb .cat-text {
  margin-top: 4px;
  float: left;
  line-height: 20px;
  height: 20px;
  color: #666;
  text-decoration: none; }

.crumb .sign {
  margin: 4px 5px;
  float: left;
  line-height: 20px;
  height: 20px;
  color: #666;
  text-decoration: none;
  font-family: "Microsoft Yahei", "Hiragino Sans GB"; }

.crumb .keys {
  color: #f60;
  margin-right: 10px; }

.crumb .total {
  float: left;
  margin: 4px 4px 0 4px;
  line-height: 20px;
  color: #f00;
  text-decoration: none; }

.picbox {
  margin-top: 20px;
  height: 800px; }

.picboxinner {
  width: 1190px;
  margin: 0 auto; }

.item:hover {
  border-color: #f40; }

.item {
  position: relative;
  margin-right: 17px;
  width: 23%;
  height: 360px; }

.item {
  margin-right: 17px;
  margin-top: 22px;
  float: left;
  border: 1px solid #ededed;
  -webkit-transition: border-color .2s;
  -moz-transition: border-color .2s;
  -o-transition: border-color .2s;
  transition: border-color .2s; }

.item:hover .pic-box-inner {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1); }

.factory_price {
  position: absolute;
  left: -3px;
  top: 193px;
  background: url(../images/ccj.png) no-repeat center;
  width: 65px;
  height: 25px;
  z-index: 99; }

.pic-box {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden; }

a {
  color: #606060;
  text-decoration: none;
  font-family: "Microsoft Yahei"; }

.J_ItemPic {
  width: 100%;
  height: 100%;
  display: block; }

.row {
  padding: 0 8px; }

.row-1 {
  margin-top: 11px;
  height: 22px;
  line-height: 22px;
  overflow: hidden; }

.price {
  float: left; }

.g_price strong {
  color: #F60;
  font-weight: 700;
  font-family: verdana, arial;
  font-size: 18px; }

.row-2, .title {
  margin-top: 6px;
  height: 36px; }

.row-3 {
  margin-top: 10px;
  height: 22px;
  line-height: 22px;
  overflow: hidden; }

.shop {
  float: left; }

.shopname {
  width: 98px;
  margin-top: 1px; }

.shopname {
  color: #888;
  float: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px; }

.floatR, .fr {
  float: right; }

.ml5 {
  margin-left: 5px !important; }

.mt3 {
  margin-top: 3px !important; }

.qq-zaiqian .qq-small .qq-inline {
  height: 20px;
  width: 21px; }

.icon.icon_first {
  margin-left: 10px; }

.icon {
  float: left;
  margin-right: 4px;
  font-size: 0; }

.productbox {
  margin-top: 20px;
  margin-bottom: 20px; }

.product_tit {
  width: 1190px;
  height: 50px;
  margin: 0 auto;
  background: #8d5858; }

.product_tit p {
  font-size: 20px;
  font-weight: bold;
  color: #f00;
  line-height: 50px;
  text-align: center; }

img {
  border: 0;
  vertical-align: middle; }

.wrap {
  padding-top: 20px;
  width: 1190px;
  margin: 0 auto; }

#wrap::after {
  content: "";
  display: block;
  clear: both; }

.box {
  width: 22%;
  height: 450px;
  float: left;
  box-shadow: 0 0 5px #000;
  margin: 15px; }

.box img {
  width: 100%;
  height: 350px;
  display: block; }

.box p {
  font-size: 12px;
  color: #000;
  padding: 10px;
  line-height: 20px;
  height: 50px;
  display: block; }

.box div {
  height: 40px;
  padding: 10px; }

.box span {
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  float: left; }

.box b {
  font-weight: bold;
  font-size: 14px;
  text-decoration: line-through;
  line-height: 40px;
  float: right; }

#footer-2013 {
  padding: 30px 0;
  text-align: center;
  color: #999;
  font-size: 12px;
  border-top: 1px solid #eee; }

#footer-2013 .links a {
  font-size: 12px;
  margin: 100px 10px;
  color: #999;
  text-decoration: none; }

.copyright {
  margin-top: 10px; }
